@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-gray: #191919;
  --color-light: #ffffff;
  --color-blue: #118DA8;

  --border-radius-large: 32px;
  --border-radius-medium: 12px;
  --border-radius-small: 6px;

  --button-height: 51px;
  --button-height-alt: 48px;
  --button-padding-x: 18px;

  --category-padding-x: 16px;

  --font-family: 'DM Sans', sans-serif;

  --container-width: 1360px;
  --container-padding-x: 20px;

  --transition-duration: .2s;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-light);
  background-color: var(--color-gray);
  letter-spacing: 2.88px;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

ul {
  list-style: none;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x)*2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

/* Header */

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
}

.header__menu-list {
  display: flex;
  column-gap: 40px;
  font-size: 17px;
  letter-spacing: 0;
}

.header__menu-link:hover {
  color: var(--color-blue);
}


/* Hero */

.hero__inner {
  display: flex;
  align-items: center;
  column-gap: 60px;
  padding-top: 86px;
}

.hero__image {
  display: block;
  border-radius: var(--border-radius-medium);
  margin-left: 20px;
}

.hero__title {
  font-size: 70px;
  max-width: 560px;
}

.hero__title-bold {
  font-size: 80px;
}

.hero__title-underline {
  font-size: 75px;
  position: relative;
}

.hero__title-underline::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 50%;
  translate: -50%;
  width: 160px;
  height: 11px;
  background-image: url('../img/Hero/hero__undertext.svg');
}

.hero__social {
  padding-top: 90px;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  letter-spacing: 0;
}

.hero__social-title {
  font-size: 15px;
}

.social-images {
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.social-img:hover {
  opacity: 0.7;
  transition-duration: var(--transition-duration);
}

.episodes__inner {
  padding-top: 100px;
}

.episodes__header {
  padding-bottom: 64px;
}

.episodes__header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.episodes__header-title {
  font-size: 64px;
}

.button {
  height: var(--button-height);
  padding-inline: var(--button-padding-x);
  font-size: 18px;
  background-color: var(--color-blue);
  border: 0;
  color: var(--color-light);
  font-weight: 400;
  border-radius: var(--border-radius-small);
}

.button:hover {
  background-color: var(--color-light);
  color: var(--color-blue);
}

.episodes__list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}


.episodes__item {
  display: flex;
  column-gap: 52px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  padding: 40px;
}

.episodes__item-body {
  max-width: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.episodes__item-category {
  display: inline-block;
  line-height: 0px;
  letter-spacing: 0;
  font-size: 18px;
  height: 27px;
  padding: var(--category-padding-x);
  background-color: var(--color-gray);
  border-radius: var(--border-radius-small);
  margin-bottom: 48px;
}

.episodes__item-number {
  color: var(--color-blue);
  letter-spacing: 0;
  font-size: 18px;
}

.episodes__item-title {
  font-size: 64px;
  line-height: 1;
  margin-top: 18px;
}

.episodes__item-subtitle {
  font-size: 22px;
  letter-spacing: 0;
  opacity: .7;
  margin-block: 28px 18px;
}

/* Host */

.host__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 94px;
  padding-top: 260px;
}

.host__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 556px;
}

.host__image {
  border-radius: var(--border-radius-medium);
}

.host__body-arrow {
  width: 112px;
  height: 112px;
  background-color: var(--color-blue);
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
}

.host__body-arrow:hover {
  opacity: .7;
  transition-duration: var(--transition-duration);
}

.host__body-arrow-image {
  position: absolute;
  top: 30%;
  left: 15%;
}

.host__body-meet {
  font-size: 18px;
  color: var(--color-blue);
  letter-spacing: 0;
}

.host__body-title {
  font-size: 65px;
  margin-bottom: 28px;
}

.host__body-subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  opacity: .7;
  letter-spacing: 0;
  font-size: 22px;
}

/* Newsletter */

.newsletter__form {
  display: flex;
  justify-content: space-between;
  padding-block: 60px 75px;
  padding-inline: 60px;
  background-color: var(--color-dark);
  margin-top: 200px;
  border-radius: var(--border-radius-large);
  
}

.newsletter__above-title {
  font-size: 18px;
  color: var(--color-blue);
  letter-spacing: 0;
}

.newsletter__title {
  font-size: 72px;
  max-width: 432px;
}

.newsletter__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}

.newsletter__body-field {
  width: 522px;
  height: 82px;
  background-color: var(--color-gray);
  padding-left: 19px;
  font-size: 24px;
  color: var(--color-light);
  opacity: .7;
  border: 0;
  border-radius: var(--border-radius-small);
}

.newsletter__body-button {
  height: var(--button-height-alt);
  font-weight: 700;
  font-size: 15px;
}

.newsletter__body-button-text {
  opacity: .7;
}

/* Reviews */

.reviews__inner {
  padding-top: 200px;
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--color-dark);
  padding-inline: 50px 60px;
  padding-block: 52px;
  row-gap: 20px;
  border-radius: var(--border-radius-large);
}

.reviews__item-text {
  font-size: 36px;
  max-width: 313px;
}

.reviews__item-author {
  font-size: 24px;
  opacity: .7;
}

.reviews__item-stars {
  display: flex;
  column-gap: 5px;
}

/* Footer */

.footer__inner {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-block: 200px 127px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 240px;
}

.footer__contacts-links {
  display: flex;
  column-gap: 10px;
}

.footer__nav {
  display: flex;
  align-items: start;
  column-gap: 120px;
  font-size: 17px;
  letter-spacing: 0;
  padding-right: 20px;
}

.footer__nav-main,
.footer__nav-additional {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__nav-item:hover {
  color: var(--color-blue);
}


/* Adaptation */
@media (max-width: 1300px) {
  .hero__title {
    font-size: 50px;
  }

  .hero__image {
    width: 500px;
    height: auto;
  }

  .hero__title-bold {
    font-size: 65px;
  }
  
  .hero__title-underline {
    font-size: 60px;
  }

  .host__image {
    width: 500px;
    height: auto;
  }

  .newsletter__title {
    font-size: 55px;
    max-width: 400px;
  }

  .newsletter__body-field {
    width: 400px;
  }
}

@media (max-width: 1264px) {
  .episodes__item-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 1150px) {
  .reviews__item-text {
    font-size: 22px;
  }
  .reviews__item-author {
    font-size: 16px;
  }

  .footer__contacts {
    padding-right: 50px;
  }
}

@media (max-width: 1024px) {
  .header__inner {
    padding-top: 26px;
  }
  
  .hero__inner {
    padding-top: 30px;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__image {
    width: 350px;
    height: auto;
  }

  .hero__title-bold {
    font-size: 55px;
  }
  
  .hero__title-underline {
    font-size: 50px;
  }
  
  .hero__social {
    padding-top: 60px;
  }

  .hero__title-underline::after {
    width: 120px;
  }

  .hero__social-img {
    width: 26px;
    height: auto;
  }

  .episodes__item-title {
    font-size: 40px;
  }
  
  .episodes__item-subtitle {
    font-size: 16px;
  }

  .episodes__item-category {
    margin-bottom: 20px;
  }

  .episodes__item-img {
    width: 300px;
    height: auto;
  }

  .host__inner {
    padding-top: 100px;
  }

  .host__image {
    width: 400px;
    height: auto;
  }

  .host__body-title {
    font-size: 50px;
  }

  .host__body-subtitle {
    font-size: 16px;
  }

  .host__body-arrow {
    width: 70px;
    height: 70px;
  }

  .host__body-arrow-image {
    width: 45px;
    height: 30px;
  }
  .newsletter__form {
    align-items: center;
    margin-top: 100px;
  }

  .newsletter__titles {
    text-align: center;
  }

  .newsletter__title {
    font-size: 30px;
  }

  .newsletter__body-field {
    width: 250px;
  }
  
  .reviews__inner {
    padding-top: 100px;
  }

  .footer__inner {
    padding-top: 100px;
  }
}

@media (max-width: 880px) {
  .reviews__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__nav {
    column-gap: 20px;
  }

  .footer__social-img {
    width: 24px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .header__menu-list {
    column-gap: 20px;
  }

  .hero__inner {
    flex-direction: column;
    align-items: start;
  }
  .hero__image {
    width: 100%;
    margin: 0;
  }

  .hero__social {
    padding-top: 20px;
    padding-left: 0;
  }

  .episodes__item-title {
    font-size: 30px;
  }
  
  .episodes__item-subtitle {
    font-size: 14px;
  }

  .episodes__item-img {
    width: 250px;
    height: auto;
  }

  .episodes__header-title {
    font-size: 40px;
  }

  .host__image {
    width: 300px;
    height: auto;
  }

  .host__body-title {
    font-size: 40px;
  }

  .host__body-subtitle {
    font-size: 12px;
  }

  .host__inner {
    column-gap: 30px;
    padding-top: 100px;
  }

  .footer__social {
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 652px) {
  .hero__title {
    font-size: 30px;
  }

  .hero__title-bold {
    font-size: 45px;
  }
  
  .hero__title-underline {
    font-size: 40px;
  }

  .hero__title-underline::after {
    width: 90px;
  }

  .episodes__item-button {
    font-size: 12px;
    height: 35px;
  }

  .episodes__header-button{
    font-size: 12px;
    height: 35px;
  }

  .episodes__item-title {
    font-size: 20px;
    letter-spacing: 0;
  }
  
  .episodes__item-subtitle {
    font-size: 12px;
  }

  .episodes__item-img {
    width: 200px;
    height: auto;
  }

  .episodes__header-title {
    font-size: 30px;
  }

  .newsletter__form {
    padding: 20px;
    flex-direction: column;
  }

  .newsletter__body {
    align-items: center;
  }

  .newsletter__title {
    letter-spacing: 0;
    padding-bottom: 10px;
  }

  .newsletter__above-title {
    font-size: 12px;
  }

  .newsletter__body-field {
    width: 520px;
    height: 60px;
  }

  .footer__logo-image {
    width: 150px;
    height: auto;
  }

  .footer__inner {
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .episodes__item {
    column-gap: 15px;
  }
  .header__inner {
    flex-direction: column;
    row-gap: 14px;
  }

  .header__menu-list {
    font-size: 14px;
  }

  .episodes__item-button {
    font-size: 10px;
  }

  .episodes__list {
    row-gap: 20px;
  }

  .episodes__header {
    padding-bottom: 30px;
  }

  .host__inner {
    flex-direction: column;
  }

  .host__body-arrow {
    display: none;
  }

  .host__body {
    align-items: center;
  }

  .host__body-meet {
    margin-bottom: 10px;
  }

  .host__body-title {
    margin-bottom: 25px;
  }

  .host__body-subtitle {
    row-gap: 15px;
    text-align: center;
    margin-bottom: 25px;
  }

  .host__image {
    width: 400px;
    height: auto;
  }

  .newsletter__body-field {
    width: 300px;
  }

  .reviews__item-text {
    font-size: 26px;
  }
  .reviews__item-author {
    font-size: 18px;
  }
  .star__image {
    width: 16px;
    height: auto;
  }

  .reviews__list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 520px) {
  .episodes__item {
    padding: 30px;
  }
  .episodes__item-category {
    font-size: 12px;
  }
  
  .episodes__item-button {
    font-size: 10px;
    height: 35px;
  }

  .episodes__item-title {
    font-size: 18px;
  }
  
  .episodes__item-subtitle {
    font-size: 10px;
  }

  .episodes__item-img {
    width: 180px;
    height: auto;
  }

  .episodes__header {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .episodes__inner {
    padding-top: 60px;
  }

  .newsletter__title {
    font-size: 20px;
  }
  
  .footer__nav {
    font-size: 12px;
  }

  .footer__social-img {
    width: 20px;
    height: auto;
  }
}


@media (max-width: 450px) {
  .hero__title {
    font-size: 20px;
  }

  .hero__title-bold {
    font-size: 35px;
  }
  
  .hero__title-underline {
    font-size: 30px;
  }

  .hero__title-underline::after {
    width: 72px;
  }

  .hero__social-title {
    font-size: 14px;
  }

  .hero__social-img {
    width: 20px;
    height: auto;
  }
  
  .hero__social-images {
    column-gap: 10px;
  }

  .episodes__item {
    padding: 15px;
    column-gap: 5px;
  }

  .episodes__item-img {
    width: 150px;
  }

  .episodes__item-subtitle {
    font-size: 8px;
  }

  .episodes__item-number {
    font-size: 12px;
  }

  .host__body-meet {
    font-size: 12px;
  }

  .host__body-title {
   font-size: 30px;
  }

  .host__body-subtitle {
    font-size: 10px;
  }

  .host__image {
    width: 300px;
    height: auto;
  }

  .host__inner {
    padding-top: 50px;
  }

  .footer__logo-image {
    width: 100px;
    height: auto;
  }

  .footer__contacts {
    padding-right: 20px;
  }
}